body {
    margin: 0;
    padding: 0;
    background: 
    #fff1f1
}


.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    background-color: #f4b9b9;
    box-shadow: 0 10px 50px rgba(255, 9, 9, 0.2);
    z-index: 1000; /* 他のコンテンツの上に表示されるようにする */
}

.main{
    text-align: center;
    background-size: 150px 50px;
}

.about-me{
    color: white;
    margin: 0;
    font-size:70px ;
    font-weight: bold;
    position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

p.about-me{
  line-height: 1.2;
  margin: 15px; /* 上下の余白を削除 */
  padding: 0; /* 内側の余白を削除 */
}

.about-me::before{
    content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;/*線の上下位置*/
  width: 800px;/*線の長さ*/
  height: 10px;/*線の太さ*/
  transform: translateX(-50%);/*位置調整*/
  background-color: #f09d9d;/*線の色*/
  border-radius: 5px;/*線の丸み*/
}

.section {
  position: absolute;
    margin-top:150px;
}


.about {
    display: flex;
}

.girl {
    width: 700px;
    height: 508px;
}

.about-caption {
  /* Flexboxを有効化 */
  display: flex;
  /* 子要素を垂直方向に並べる */
  flex-direction: column;
  /* 子要素を水平方向の中央に配置 */
  align-items: center;

  /* 元のスタイルを維持 */
  font-size: 20px;
  font-weight: bold;
  color: #462c2c;
}

h2.hello {
    color: #462c2c;
    background-color: white;
    border-radius: 100px;
    border: 6px dashed #462c2c;
    font-size: 50px;
    margin: 25px auto 0 0;
    padding: 0px 50px;
}

ul.about-description{
    margin: 20px 0 0 ;
    background-color: #ffffff;
    border-radius: 60px;
    border: 3px solid #6e4b4b;
    padding: 40px 100px;
    list-style: none; /* デフォルトの点を消す */


}

.about-me-list {
    font-size: 25px;
  position: relative; /* 疑似要素の位置の基準に */
  padding-left: 40px; /* 絵文字分の余白を確保 */
  margin-bottom: 10px
}

.about-me-list::before {
  content: ''; /* 空にする */
  position: absolute;
  left: 0;
  top: 0;
  width: 40px; /* 画像の幅 */
  height: 40px; /* 画像の高さ */
  background-image: url("https://www.sui-sai.jp/illust/2017/12/21/img/149.png"); /* 画像を指定 */
  background-size: contain; /* サイズに合わせて画像を調整 */
  background-repeat: no-repeat;
}

.section2-headline{
position: absolute;
left: 50%;  
color: #462c2c;font-size: 50px;
background-color: white;
border-radius: 100px;
border: 6px dashed #462c2c;
transform: translateX(-50%);/*位置調整*/
margin: 80px auto 0 0;
padding: 0px 50px;

}

.section2{

}
.div-section2
.section2-headline
.section2-ul
.section2-game

.section2-dd